auto lo
iface lo inet loopback

auto virt-bridge
iface virt-bridge inet static
    address {{ ansible_default_ipv4.address }}
    netmask {{ ansible_default_ipv4.netmask }}
    gateway {{ ansible_default_ipv4.gateway }}
    bridge_ports eth0
    bridge_maxwait 0
    pre-up ip address flush eth0
